---
import Social from "./social.astro";


---

<section id="nav">
    <div class="nav container">
       <Social></Social>
    </div>
</section>

<style>
    .btn {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        background-color: transparent;
        /* border: 1px solid var(--alt); */
    }

    .btn a {
        font-size: clamp(0.5rem, 1rem + 1vw, 0.9rem);
    }

    .btn:hover {
        background-position: 0;
    }

    .draw-border {
        box-shadow: inset 0 0 0 1px var(--alt);
    }

    .draw-border:hover::before,
    .draw-border:hover::after {
        border-color: var(--focus);
    }

    #nav {
        box-shadow: 0 0 50px #0000004a;
        width: 100%;
        z-index: 2;
        background: var(--back);
        position: fixed;
        top: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in;
    }

    .nav {
        height: 70px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 15px 0;
    }

    .nav p {
        margin: 0;
    }

    .nav span {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .nav img {
        height: 70%;
    }

    .show {
        opacity: 1 !important;
    }
</style>

<script is:inline>
    //nav
    // keep track of previous scroll position
    let prevScrollPos = window.scrollY;

    window.addEventListener("scroll", function () {
        // current scroll position
        const currentScrollPos = window.scrollY;

        if (currentScrollPos > 900 && prevScrollPos > currentScrollPos) {
            // user has scrolled up
            document.querySelector("#nav").classList.add("show");
        } else {
            // user has scrolled down
            document.querySelector("#nav").classList.remove("show");
        }

        // update previous scroll position
        prevScrollPos = currentScrollPos;
    });
</script>
