---

---

<a  href="https://github.com/NataliaGiselleCuria"  class="button draw-border github"><i class="fa-brands fa-github"></i>GitHub</a>
<a href="https://www.linkedin.com/in/curianatalia/" class="button draw-border linkedin"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
<span class="button cv"><a href="../../public/CV-CuriaNatalia.pdf" download="CV-CuriaNatalia.pdf">Descargar CV</a></span>

<style>
 
    a {
        font-family: "Rajdhani", sans-serif;
        font-weight: 400;
        font-size: clamp(0.1rem, 0.2vw + 1rem, 1.2rem);
        color: #ceb9e9;
        position: relative;
        display: inline-block;
        text-decoration: none;
        display: flex;
        gap: 6px;
        align-items: center;
    }

    .button {
        height: 100%;
        background: none;
        padding: 0 10px;
        opacity: 0;
        transform: translateX(20px);
        transition:  opacity 0.5s ease, transform 0.5s ease;     
    }

    .cv {
        font-family: "Rajdhani", sans-serif;
        font-weight: 400;
        font-size: clamp(0.1rem, 0.2vw + 1rem, 1.2rem);
        text-align: center;
        background-color: var(--focus);
        border-radius: 5px;
        display: flex;
        align-items: center;
        position: relative;
        transition: all 0.8s ease-out;
        animation: fadeIn 0.8s forwards;
        animation-delay: 3s;
    }

    .cv a {
        color: white;
        padding: 10px 5px;
    }

    .cv:hover {
        background-color: var(--alt);
    }

    .github {
        animation: slideIn 0.8s ease forwards;
        animation-delay: 3.6s;
    }

    .linkedin {
        animation: slideIn 0.8s ease forwards;
        animation-delay: 3.3s;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>
